/* CSS par Patrice PEZAS et Yoann FLEURY */
/* ------------------------------------- */

/* BALISE */
body {
    margin: 0;
    padding: 0;
    background: #ecf0f1;

    font-family: Arial, sans-serif;
    color: #2c3e50;
    text-align: center;
}

header {
    margin: 0 0 3%;
    background: #34495E;
}

header h1 {
    margin: 0;
    padding: 1% 0 1% 0;
    text-align: center;
}

header a {
    margin: 0;
    color: #ecf0f1;
    text-decoration: none;
}

header nav a {
    margin: 1%;
    padding: 3%;

    background: #1abc9c;

    border-radius: 6px;
    border: 4px #16a085 solid;

    color: #ecf0f1;
    font-weight: bold;
}

header nav a:hover {
    background: #48C9B0;
}

body>section {
    float: left;
    width: 49%;
}

section>table {
    margin: auto;
    border: 5px solid #16a085;
    border-collapse: collapse;
}

section>table>tbody>tr>th {
    width: 200px;
}

section>table>tbody>tr>td {
    border: 1px solid #16a085;
}


footer {
    float:left;
    padding: 0 30% 0 30%;
}

footer p:last-child, footer p:nth-last-child(2) {
    text-align: center;
}

kbd {
    padding: 0.2%;
    background: #34495E;
    color: white;

    border-radius: 6px;
}

form {
    text-align: center;
}

fieldset {
    margin: auto;
    width: 40%;
    height: 320px;

    font-variant: small-caps;
    font-weight: bold;
}

textarea {
    resize: none;
    width: 40em;
    height: 1em;
    padding: 1%;

    box-shadow: none;

    outline: none;
    border: #95a5a6 2px solid;
    border-radius: 5px;
}

textarea:focus {
    border: #1abc9c 2px solid;
}

input {
    display: block;
    margin: 2% auto;
    width: 250px;
    padding: 2%;
    box-shadow: none;

    border: #bdc3c7 2px solid;
    border-radius: 5px;

    font-size: 18px;
}


input:focus {
    border: #1abc9c 2px solid;
}

input:focus:valid {
    border: #2ecc71 2px solid;
    border-radius: 5px;
    box-shadow: none;

    color: #2ecc71;
}

input:focus:invalid {
    border: #e74c3c 2px solid;
    border-radius: 5px;
    box-shadow: none;

    color: #e74c3c;
}

input[type=color] {
    padding: 0;
    width: 25%;
    height: 25px;
    background: #95a5a6;
}

input[type=color]:hover {
    background: #bdc3c7;
}

button {
    cursor: pointer;
    margin: 1%;
    padding: 1%;

    background: #1abc9c;

    border-radius: 6px;
    border: 4px #16a085 solid;

    color: #ecf0f1;
    font-family: Arial, sans-serif;
    font-weight: bold;

    font-size: 16px;
}

button:hover {
    background: #48C9B0;
}

/* IDENTIFIANTS */
#session {
    width: 340px;
    position: absolute;
    top: 1.5em;
    left: 0;
}

#help {
    width: 300px;
    position: absolute;
    top: 1.5em;
    right: 1%;
    text-align: right;
}

#board_container table {
    margin: auto;
    padding: 0;

    background: green;

    border-collapse: collapse;
    border: 8px solid #2c3e50;
}

#board_container td, #board_container tr {
    border: 2px solid #2c3e50;
}

#board_container td {
    width: 50px;
    height: 50px;

    text-align: center;
}

#user_login_result {
    margin: auto;
    padding: 1%;
    border-radius: 6px;

    color: #ecf0f1;
}

#preferencesDialog {
    margin: auto;
    width: 40%;

    background: #bdc3c7;

    border-radius: 6px;
}

#preferencesDialog>h3 {
    padding: 5%;
    border-radius: 6px 6px 0 0;
    background: #2c3e50;
    color: #ecf0f1;
    font-variant: small-caps;
    font-size: 150%;
}

#preferencesDialog>p {
    font-variant: small-caps;
}

#preferencesDialog>textarea {
    text-align: right;
    width: 35%;
}

#preferencesDialog>button {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

#options a {
    margin: 1%;
    padding: 1.2%;

    background: #1abc9c;

    border-radius: 6px;
    border: 4px #16a085 solid;

    color: #ecf0f1;
    font-weight: bold;
    text-decoration: none;
}

#options a:hover {
    background: #48C9B0;
}

/* CLASSE */
.black_piece {
    fill: black;
}

.white_piece {
    fill: white;
}

.marked_square {
    fill:  black; /* Couleur du plateau si il ne veut pas d'aide */
}

.valid {
    margin: 1em auto auto;
    padding: 1em;
    width: 90%;

    border: 5px solid #27ae60;
    border-radius: 6px;

    background: #2ecc71;
    color: #ecf0f1;
    font-size: 90%;
}

.error {
    background: #e74c3c;

    margin: 1em auto auto;
    padding: 1em;
    width: 30%;

    border: 5px solid #c0392b;
    border-radius: 6px;

    color: #ecf0f1;
    font-size: large;
}

#overlay {
    -moz-animation-duration: 2s;
    -moz-animation-name: showOverlay;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: showOverlay;
    -o-animation-duration: 2s;
    -o-animation-name: showOverlay;

    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.8;
    background: grey;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

#endFrame {
    -moz-animation-duration: 2s;
    -moz-animation-name: showEndFrame;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: showEndFrame;
    -o-animation-duration: 2s;
    -o-animation-name: showEndFrame;

    border: 4px solid #34495e;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    z-index: 1001;
    top: 30%;
    width: 600px;
    height: 200px;
    background: #2c3e50;
}

@keyframes showEndFrame {
    from {
        opacity: 0;
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
}

#endFrame h1 {
    font-size: 80px;
    border-radius: 20px;
    border-style: solid;
    margin: 20px 20px 50px;
    color: #ecf0f1;
}

#endFrame button {
    width: 200px;
    height: 50px
}